<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="container-fluid">
  <div class="row row-height">
    <div class="col-md-3 left col-xs-1 p-l-0 p-r-0 collapse show" id="sidebar">
      <div class=" title-nav panel text-wrap">
        <span>Universidad Yachay Tech </span> 
      </div>
      <div class="list-group panel">
        <a href="Data/"><span class="list-group-item text-wrap">Data</span></a>
        <a href="Pool/"><span class="list-group-item text-wrap">Choose Pool</span></a>
        <a href="MetaLearning/"><span class="list-group-item text-wrap">Choose MetaLearning</span></a>
        <a href="Hyperparameters/"> <span class="list-group-item text-wrap">Hyperparameters</span></a>
        <a href="Summary/"> <span class="list-group-item text-wrap">Summary</span></a>
        <button class="btn btn-success cerrar d-md-none d-lg-none d-xl-none" data-target="#sidebar" data-toggle="collapse" (click)="changeCollapse()">Close</button>
      </div>

    </div>
    <div [ngClass]="{'col-md-9 right col-xs-11 p-l-2 p-t-2' : !collapsed, 'col-md-12 col-xs-12 p-l-2 p-t-2' : collapsed}">
      <button class="btn btn-success" data-target="#sidebar" data-toggle="collapse" (click)="changeCollapse()"><i class="fa fa-navicon fa-lg"></i></button>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>