<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-default no-margin">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header fixed-brand">
     <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle"> -->
<!-- <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
</button> -->
     <a class="navbar-brand" href="#"> Universidad Yachay Tech</a>
  </div>
  <!-- navbar-header-->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
        <li class="active">
           <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
           </button>
        </li>
     </ul>
  </div>
  <!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
     <ul class="sidebar-nav  " id="menu">
        <li class="active">
           <a href="Data/"><span class=""></span>Data</a>
        </li>
        <li>
           <a href="Pool/"><span class=""></span>Choose Pool</a>
        </li>
        <li>
           <a href="MetaLearning/"><span class=" "></span>Choose MetaLearning</a>
        </li>
        <li>
           <a href="Hyperparameters/"> <span class=" "></span>Hyperparameters</a>
        </li>
     </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
     <div class="container-fluid xyz">
        <div class="row">
           <div class="col-lg-12">
            <router-outlet></router-outlet>
           </div>
        </div>
     </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

