<h1 class= "title text text-wrap">
  Step 3 - Select Meta learning method
  </h1>
  
  <p class= "description text text-wrap" >
  Please select the Methods from the following:
  </p>
<div class="row">
  <div class="col-sm-6">
    <div class="card w-100 p-3">
      <div class="card-body">
        <h5 class="card-title">Method 1</h5>
        <h6 class="card-subtitle mb-2 text-muted">Neural Network</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id felis suscipit, hendrerit purus ut, volutpat purus. Sed at mi vitae neque vestibulum feugiat non vitae erat. Vivamus id elit ut lorem tristique condimentum. Fusce ullamcorper volutpat ligula non pretium. Aliquam quam nisl, eleifend et feugiat non, laoreet sit amet ligula. Sed pretium venenatis lectus, non maximus tellus dignissim eu. Curabitur non nibh sit amet tellus condimentum gravida ac et mi. Pellentesque rhoncus nisl sapien, at tristique purus facilisis sed. Donec nec mi vel purus vestibulum luctus nec eget neque. Curabitur laoreet imperdiet leo, fringilla semper metus suscipit sed. Quisque vestibulum leo non dignissim pulvinar.</p>
        <button *ngIf="!metaMethods.method1" (click)="chooseMethod('method1')" class="btn btn-primary">Select</button>
        <button *ngIf="metaMethods.method1" (click)="chooseMethod('method1')" class="btn btn-secondary" >Unselect</button>
      </div>
    </div>
    <!--  -->
  </div>
  <div class="col-sm-6">
    <div class="card w-100 p-3">
      <div class="card-body">
        <h5 class="card-title">Method 2</h5>
        <h6 class="card-subtitle mb-2 text-muted">Neural Network</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id felis suscipit, hendrerit purus ut, volutpat purus. Sed at mi vitae neque vestibulum feugiat non vitae erat. Vivamus id elit ut lorem tristique condimentum. Fusce ullamcorper volutpat ligula non pretium. Aliquam quam nisl, eleifend et feugiat non, laoreet sit amet ligula. Sed pretium venenatis lectus, non maximus tellus dignissim eu. Curabitur non nibh sit amet tellus condimentum gravida ac et mi. Pellentesque rhoncus nisl sapien, at tristique purus facilisis sed. Donec nec mi vel purus vestibulum luctus nec eget neque. Curabitur laoreet imperdiet leo, fringilla semper metus suscipit sed. Quisque vestibulum leo non dignissim pulvinar.</p>
        <button *ngIf="!metaMethods.method2" (click)="chooseMethod('method2')" class="btn btn-primary">Select</button>
        <button *ngIf="metaMethods.method2" (click)="chooseMethod('method2')" class="btn btn-secondary" >Unselect</button>
      </div>
    </div>
    <!--  -->
  </div>
</div>
