/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/*Set the row height to the viewport*/
.row-height{
    height: 100vh;
  }
  
  /*Set up the columns with a 100% height, body color and overflow scroll*/
  
  .left{
    height: 100%;
    overflow-y: scroll;
  }
  
  .right{
    height: 100%;
    overflow-y: scroll;
  }
  
  .mid{
    height: 100%;
    overflow-y: scroll;
  }
  
  /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }

//   Used for page descriptions and title
.text {
    font-family: FontAwesome;

}

.title {
    text-align: center;

}

.description{
    font-size: 1.2em
}

.submit-button{
    min-width: 200px;
}

.container-std{
    margin-top: 10px;
    margin: 10px;
}