/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.text {
    font-family: FontAwesome;

}

.title {
    text-align: center;

}

.description{
    font-size: 1.2em
}

.submit-button{
    min-width: 200px;
}

.container-std{
    margin-top: 10px;
    margin: 10px;
}